extends layout

block content
    div(
        class="container"
        style="width: 75%"
    )
        div.card.p-5
            div.card-body
                h1.card-title Log in to Twitter
                form(method="POST" action="/login")
                    div.form-group
                        input(
                            name="username"
                            type="text"
                            placeholder="username"
                        )
                    div.form-group                            
                        input(
                            name="password"
                            type="password"
                            placeholder="password"
                        )
                    button.btn.btn-primary.text-white.font-weight-bold
                        | Login