mixin inputField(name, type, placeholder, invalidFeedback, minLength, maxLength, regex)
    div.form-group
        input(
            class="form-control__input form-control form-control-sm w-50"
            name=name
            type=type
            minlength=minLength
            maxlength=maxLength
            pattern=regex
            placeholder=placeholder
            required=""
        )

        div.invalid-feedback #{invalidFeedback}
        div.valid-feedback Looks good