extends ../layouts/main
include ../mixins/userIcon
include ../mixins/cardBody
include ../mixins/cardFooter

block primaryColumn
    if errors
        div.alert.alert-danger.m-0(role="alert") #{errors[0].msg}

    h1.border.border-bottom-0.m-0.p-3.font-weight-bold Tweet
    
    div.card.p-3
        div.d-flex.mt-1
            +userIcon(tweet.author, "icon")
            a.ml-2(href=`/${tweet.author.username}`)
                div.text-dark.font-weight-bold #{tweet.author.fullname}
                div.text-secondary #{tweet.author.username}
    
        div.my-3.tweet-page__card-body
            +cardBody(tweet)
    
        div.my-3.ml-2.text-secondary #{moment(tweet.creationDate).fromNow()}

        div.py-3.pl-5.border-top
            +cardFooter(tweet)

        div
            include ../components/comments

    script(src="../../js/validator.js")
